<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/index.css">
</head>

<body>

  <h1>Message Details</h1>

  <div class="message">
    <h2>User: <%= message.user %></h2>
    <p><strong>Time Added:</strong> <%= message.added %></p>
    <p><strong>Message:</strong></p>
    <p><%= message.text %></p>
  </div>

  <br>
  <a href="/">⬅ Back to Messages</a>

</body>
</html>